
body{
    /* background-color: rgb(37, 31, 31);
     */
     background-image: url(https://4kwallpapers.com/images/wallpapers/satoru-gojo-jujutsu-2880x1800-10828.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
}
#container{
    display: flex;
    background-color: #ffffff10;
    flex-direction: column;
    width: 70%;
    margin: auto;
    backdrop-filter: blur(5px);
    box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.6);
-webkit-box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.6);
-moz-box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.6);
}
h1{
    font-family: Orbitron;
    font-weight: 700;
    text-align: center;
    color: cyan;
}
.userInput{
    display: flex;
    /* background-color: green; */
    margin: 1%;
    justify-content: space-between;
    column-gap: 1rem;
}
input{
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    flex: auto;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
    box-shadow: 1px 2px 3px 1px rgba(134, 134, 134, 0.6);
}
.add-btn{
    border-radius: 10px;
    background-color: rgb(41, 120, 200);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
    padding: 0 2rem 0 2rem ;
    border:none;
    cursor: pointer;
    transition: 0.3s;
}
.add-btn:hover{
    background-color: rgb(16, 157, 213);
}
.tasks{
    background-color: white ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    box-shadow: 3px 2px 8px 1px rgba(52, 52, 52, 0.6);
-webkit-box-shadow: 3px 2px 8px 1px rgba(48, 46, 46, 0.6);
-moz-box-shadow: 3px 2px 8px 1px rgba(43, 42, 42, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 1.2%;
    margin: 2% 1% 1% 1% ;
    color: rgb(75, 75, 75);
    border-top-left-radius:15px ;
    border-bottom-right-radius:15px ;
    flex-wrap: wrap;
    text-overflow: hidden;
}
span{
    display: flex;
    flex-shrink: 1;
}
.delete{
    height: 30px;
    width: 30px ;
}